.nav-ul li{
  display: inline-block;
  padding: 5px;
  text-align: left;
}
.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
  background-color: black;
  }

.nav-ul{
  background-color: black;
  padding: 5px;
  margin: 0px;
}
.register, .addBook{
  margin-left: 30%;
}
.login{
  margin-left:0px;
}
.book-list{
  text-align: center;
  margin-top: 50px;
}
.book-list ul li{
  display:inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 150px;
}
.book-list ul{
  margin: 0;
}
.appButton {
    padding: 0px;
    margin: 25px;
    width: 211px;
    color: white;
    background-color: green;
}
.inputBox {
    margin: 25px;
    padding: 0px;
    display: block;
}
.Footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  color: white;
  background-color: black
  ;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
